# Requerimientos básicos
streamlit>=1.22.0
pillow>=9.0.0
streamlit-option-menu>=0.3.2

# Componentes adicionales para manejo de datos
#pandas>=2.1.0
#numpy>=1.24.0

# Componentes para manejo de HTML
#beautifulsoup4>=4.12.0
#lxml>=4.9.0

# Componentes de seguridad
#python-decouple>=3.8
